body{
    background-color: #E9ECEF;
}
.navbar{
    text-align: center;
    background-color: palevioletred;
    color: white;
}
 li{
    color:white;
    list-style-type: none;
    display: inline;
    padding: 10px;
    list-style-position: inside;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 2em;
    
} 
li a:hover{
    background-color:rgb(243, 245, 220);
    border-radius: 5px;
    color: rgb(34, 6, 56);
    text-decoration: none;
}


ul{
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
ul li{
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
}

.tasarim{
    color: white;
}